/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --button-border-color: #D9D9D9;

}

.fa-solid {
    color: var(--main-color);
}



body {
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Nav ***********/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

nav img {
    height: 25px;
    width: 100%;
    padding-top: 30px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    list-style: none;
    padding-left: 0;
}


nav li a:hover {
    border-color: #0065FC;
    border-top-style: solid;
    color: #0065FC;
    padding-top: 8px;

}


/****** Header ***********/

.header-title h1 {
    margin-bottom: 0px;
    font-size: larger;
}

.header-title p {
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 14px;

}




.search-inputs {
    display: flex;
    border: 1px solid var(--button-border-color);
    width: fit-content;
    border-radius: 10px;

}


.fa-solid.fa-location-dot {
    display: flex;
    justify-content: center;
    color: black;
    background-color: var(--button-border-color);
    padding: 12px 10px 10px 10px;
    border-radius: 8px 0 0 8px;
    width: 5%;
}



#hebergements-search-bar {
    display: flex;
    border: 0;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 0;
    width: 57%;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 35%;
    border: 0;
    background: none;
    background-color: #0065FC;
    color: white;
    border-radius: 0 8px 8px 0;
    font-weight: 900;
    font-size: 100%;
}

.alternative-search-button {
    display: none;
}

.search-form-filters {
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
    gap: 19px;
    margin-top: 20px;
    align-items: center;
}

.search-form-filters button {
    border: 1px solid var(--button-border-color);
    background: none;
    font-weight: bold;
    font-size: 1.070rem;
    border-radius: 40px;
    padding: 10px;
}

.search-form-filters button:hover {
    background-color: #DEEBFF;
}


.hebergements-disponibles-info {
    display: flex;
    align-items: center;
    gap: 8px
}

.fa-solid.fa-info {
    color: #0065FC;
    border: 1px solid var(--button-border-color);
    padding: 1em 0.8em 1em 0.8em;
    border-radius: 60px;
}


/****** Hebergements, Populaires, Activités ***********/

.section-title {
    margin: 0;
    font-size: 22px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/


.hebergements {
    width: 70%;
    padding: 30px;
}

.hebergements h2 {
    margin-top: 0;
    padding-bottom: 35px;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 0;
}



.hebergements-cards img {
    height: 134px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 1rem;
    padding: 0 0 5px 2px;
    margin-left: 5px;
}



.hebergements-cards .card-content h3 {
    margin-top: 5px;
}

.hebergements-cards .card-content p {
    margin-top: 5px;
    margin-bottom: 2px;
}


.display-more-content {
    margin-top: 20px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 30%;
    padding: 30px 30px 10px 30px;
}

.populaires-cards a {
    height: 30%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 20px;
}



.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}



.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/

.activites-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}

.activites-cards a {
    width: 23%;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 20px 20px;
    padding: 0;
}

.activites-cards img {
    height: 380px;
    width: 100%;
    border-radius: 30px 30px 0 0;

}

.activites-cards .card-content {
    padding-left: 1em;
    font-size: 1rem;
}


/****** Footer ***********/

footer {
    background-color: var(--main-bg-color);
    margin-bottom: 0;
}



.footer-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 30px 0 30px;
    align-items: center;
}

.footer-categories ul {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    gap: 10px
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (max-width:1300px) {

    .hebergements h2 {
        font-size: 1.2rem;
    }

    .hebergements-cards .card-content {
        font-size: 0.8rem;
    }


    .hebergements-cards img {
        height: 124px;
    }

    .populaires-cards .card-title,
    .card-subtitle {
        font-size: 0.8rem;
    }


    .populaires-title h2 {
        font-size: 1.2rem;
    }

    .activites-cards .card-content {
        font-size: 0.8rem;
    }

    .activites-cards img {
        height: 350px;
    }

}


@media (max-width:1100px) {

    .hebergements-cards .card-content {
        font-size: 0.7rem;
    }


    .populaires-cards .card-title,
    .card-subtitle {
        font-size: 0.7rem;
    }

    .activites-cards .card-content {
        font-size: 0.7rem;
    }

    .activites-cards img {
        height: 250px;
    }


}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {



    .search-form-filters {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0;

    }

    .search-form-filters-title {
        margin-bottom: 0.9rem;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-content {
        font-size: 0.8rem;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 0.8rem;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8rem;
    }

    .activites-cards .card-content {
        font-size: 0.7rem;
    }

    .activites-cards img {
        height: 225px;
    }

}


@media (max-width: 942px) {

    .activites-cards img {
        height: 200px;
    }

    .activites-cards .card-content {
        font-size: 0.6rem;
    }

}


@media (max-width: 835px) {

    .activites-cards .card-content {
        font-size: 0.55rem;
    }

}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-inline: 0;
        padding: 0;
        width: 100%;
    }

    /****** Nav ***********/

    nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;

    }

    nav img {
        height: 25px;
        width: 80px;
        justify-content: center;

    }

    nav>a {
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-left: 0;
        width: 100%;
        font-size: 1.2rem;
        gap: 0px;
        padding-bottom: 1em;
        margin-bottom: 0;
    }

    nav li {
        width: 50%;
    }

    nav li a {
        display: flex;
        justify-content: center;
        border-bottom-style: solid;
        border-color: var(--main-bg-color);
        padding-bottom: 1em;

    }




    nav li a:hover {
        border-color: #0065FC;
        border-top-style: none;
        border-bottom-style: solid;
        color: #0065FC;
        padding-top: 0;

    }



    /****** Header ***********/

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }



    .header-title {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;
    }

    .header-title h1 {
        margin: 0;
        padding: 0;
        width: 90%;
        font-size: 2.4rem;
        margin-bottom: 0.3rem;
        text-wrap: balance;
        text-align: start;
    }

    .header-title p {
        margin: 0;
        padding: 0;
        font-size: 1.7rem;
        width: 90%;
        margin-bottom: 0.5rem;
        text-align: start;

    }


    .search-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .search-inputs {
        width: 90%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .fa-solid.fa-location-dot {
        width: 10%;
        padding: 15px 0 12px 0;
        font-size: 1.3rem;
    }


    #hebergements-search-bar {
        width: 80%;
        font-size: 1.8rem;
        text-align: start;
        text-indent: 2em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .alternative-search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 10%;
        border: 0;
        background: none;
        background-color: #0065FC;
        color: white;
        border-radius: 8px;
        font-weight: bolder;
        font-size: 18px;

    }

    .alternative-search-button:hover {
        box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.568);
    }

    .search-button {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        color: white;
    }


    .search-form-filters-title {
        font-size: 1.3em;
    }

    .search-form-filters button {
        width: 48%;
        padding: 20px 0px 20px 0px;
        text-align: start;
        word-spacing: 0.1em;
        font-size: 1.5rem;
        text-indent: 0.6em;
    }

    .search-form-filters-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1em;
        width: 90%;
    }



    .hebergements-disponibles-info {
        justify-content: flex-start;
        width: 80%;
    }

    .hebergements-disponibles-info p {
        font-size: 1.7rem;
        word-spacing: 0.1rem;
    }


    /***** Hébergements and populaires *****/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: #FFFFFF;
    }

    /***** Hébergements *****/
    .hebergements {
        order: 2;
    }

    .hebergements h2 {
        font-size: 2rem;
        padding-bottom: 0;
    }

    .hebergements-cards {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .hebergements-cards a {
        width: 90%;
    }

    .hebergements-cards img {
        height: auto;
        width: 100%;
        aspect-ratio: 300/100;
    }

    .hebergements-cards .card-content {

        font-size: 1.3rem;
        padding: 0 0 5px 2px;
        margin-left: 5px;
    }


    /* .hebergements {
        width: 70%;
        padding: 30px;
    }
    
    .hebergements h2 {
        margin-top: 0;
        padding-bottom: 35px;
    }
    
    .hebergements-cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
        padding: 0;
    }
    
    
    
    .hebergements-cards img {
        height: 134px;
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    
    .hebergements-cards a {
        width: 30%;
    }
    
    .hebergements-cards .card-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        font-size: 1rem;
        padding: 0 0 5px 2px;
        margin-left: 5px;
    }
    
    
    
    .hebergements-cards .card-content h3 {
        margin-top: 5px;
    }
    
    .hebergements-cards .card-content p {
        margin-top: 5px;
        margin-bottom: 2px;
    }
    
    
    .display-more-content {
        margin-top: 20px;
        font-weight: bold;
    }
 */



    /***** Populaires *****/
    .populaires {
        order: 1;
    }

    .populaires-title {
        font-size: 2rem;

    }

    .populaires-title h2 {
        font-size: 2rem;
    }


    .populaires-cards {
        flex-direction: column;
        margin-top: 1em;
        margin-bottom: 1em;
    }


    .populaires-cards .card {
        margin-top: 0;
    }

    .populaires-cards a {
        width: 100%
    }

    .populaires-cards img {
        height: 180px;
        width: 25%;
    }

    .populaires-cards .card-content {
        width: 75%;
        justify-content: space-between;
    }

    .populaires-cards .card-content .card-title {
        font-size: 1.3rem;
    }

    .populaires-cards .card-content .card-subtitle {
        font-size: 1.1rem;
    }

    .populaires-cards .card-content .card-rating {
        font-size: 1.3rem;
    }



}