/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --button-border-color: #D9D9D9;

}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Nav ***********/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

nav img {
    height: 25px;
    width: 80px;
    padding-top: 30px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    list-style: none;
    padding-left: 0;
}


nav li a:hover {
    border-color: #0065FC;
    border-top-style: solid;
    color: #0065FC;
    padding-top: 8px;

}


/****** Header ***********/

.header-title h1 {
    margin-bottom: 0px;
    font-size: larger;
}

.header-title p {
    margin-top: 8px;
    margin-bottom: 30px;
    font-size: 14px;

}


.fa-solid.fa-info {
    color: #0065FC;
    border: 1px solid var(--button-border-color);
    padding: 10px;
    border-radius: 60px;
}

.fa-solid.fa-location-dot {
    color: black;
    background-color: rgb(192, 189, 189);
    padding: 12px 10px 10px 10px;
    border-radius: 8px 0 0 8px;
}

.search-inputs {
    border: 1px solid var(--button-border-color);
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    display: flex;
}

#hebergements-search-bar {
    border: 0;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding: 0%;
}

.search-inputs input[type="submit"] {
    border: 0;
    background: none;
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    font-weight: bolder;
    font-size: 18px;
}




.search-form-filters {
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
    gap: 19px;
    margin-top: 20px;
    align-items: center;
}

.search-form-filters button {
    border: 1px solid var(--button-border-color);
    background: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 40px;
    padding: 10px;
}

.search-form-filters button:hover {
    background-color: #DEEBFF;
}


.hebergements-disponibles-info {
    display: flex;
    align-items: center;
    gap: 8px
}


/****** Hebergements, Populaires, Activités ***********/

.section-title {
    margin: 0;
    font-size: 22px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/


/* .hebergements-title {
    margin-top: 15px;
    margin-bottom: 30px;
} */



.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/



.hebergements {
    width: 70%;
    padding: 30px;
}

.hebergements h2 {
    margin-top: 0;
    padding-bottom: 35px;
}

.hebergements-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.hebergements-cards img {
    height: 124px;
    width: 250px;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding: 0 0 5px 2px;
    margin-left: 5px;
}

.hebergements-cards .card-content h3 {
    margin-top: 5px;
}

.hebergements-cards .card-content p {
    margin-top: 5px;
    margin-bottom: 2px;
}


.display-more-content-button {
    background: none;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: larger;
}

.display-more-content-button:hover {
    background-color: var(--filter-bg-color);
    border-radius: 10px;
    padding: 2px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    padding: 30px 30px 0 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 20px;
}


.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}



.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ***********/

.activites-cards {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    border-radius: 30px 30px 0 0;
    height: fit-content;
    width: fit-content;
    padding: 0;
}

.activites-cards img {
    height: 380px;
    width: 297.5px;
    border-radius: 30px 30px 0 0;

}

.activites-cards .card-content {
    padding-left: 10px;
}

footer {
    background-color: var(--main-bg-color);
    margin-bottom: 0;
}



.footer-categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 30px 30px 0 30px;
    align-items: center;
    gap: 200px;
}

.footer-categories ul {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    gap: 10px
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}